@using Pato.Models
@{
    Layout = "/Views/Layout.cshtml";
    ViewBag.Title = "Usuarios";
}
<nav class="navbar navbar-expand-lg">
</nav>
<ul class="nav justify-content-center">
<ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/Usuario" aria-current="page">Inicial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Usuario/Create">Cadastrar</a>
        </li>
</ul>
</ul>
<nav class="navbar navbar-expand-lg">
</nav>
<ul class="nav justify-content-center">
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <table class="table table-striped">
    <tr>
        <th>Usuario</th>
        <th>Cpf</th>
        <th>Login</th>
        <th>Ações</th>
    </tr>
    <tbody id="myTable">
    @foreach(Usuario u in Model)
    {
    <tr>
        <td>@u.Nome</td>
        <td>@u.Cpf</td>
        <td>@u.Login</td>
        <td>
            <a href="/Usuario/Detalhe/@u.IdPessoa">Detalhes |</a>
            <a href="/Usuario/Delete/@u.IdPessoa">Apagar |</a>
            <a href="/Usuario/Update/@u.IdPessoa">Editar</a>
        </td>
    </tr>
    }
    </tbody>
</table>
        </div>
    </div>
</ul>

</div>
