@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Pato.Models
@model Produto

@{
    Layout = "/Views/Layout.cshtml";
    ViewBag.Title = "Atualiza Produto";
}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Produto/Index">Produtos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Atualiza Produto</li>
    </ol>
</div>

<form action="/Produto/Update/@Model.IdProduto" method="POST">
    <div class="col-md-4 position-relative">
        <label>Nome</label>
        <input type="text" class="form-control" name="Nome" value="@Model.Nome"/>
    </div>

    <div class="col-md-4 position-relative">
            <label>Valor</label>
            <input type="decimal" class="form-control" name="Valor" value="@Model.Valor"/>
        </div>

        <div class="col-md-4 position-relative">
            <label>Estoque</label>
            <input type="number" class="form-control" name="Estoque" value="@Model.Estoque"/>
        </div>
        <div class="col-md-4 position-relative">
        <label>Fornecedor</label>
        <select asp-for="IdFornecedor" asp-items="@(new SelectList(ViewBag.Fornecedores, nameof(Fornecedor.IdFornecedor), nameof(Fornecedor.nomeFantasia)))" class="form-control">
        </select>
        </div>
    </div>    


    <button class="btn btn-dark bg-dark" style="margin-top: 20px">Salvar</button>
</form>
